body{


background-color: blue;
padding-bottom: 15px;

width: 100%;
}
.wrapper{
    margin-top: 80px;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.titulo{
    background-color: blue;
    margin: 5px 5px;
    border-radius: 5px;
   color: white;
}
img{
    border-radius: 5px;
}
.qd{
    margin-top: 5px;
    color: widht;
    width: 50%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(111, 111, 211);
}
.qd p{
 color: white;
}